h3{
    padding: 12px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
header div{
    background-color: dodgerblue;
    height: 60px;
    width: 100%;
    display: flexbox;
    margin-bottom: 20px;
    border-radius: 14px;
    box-shadow: inset -2px -3px 9px 4px rgb(21, 111, 200);

}

main{
    display: inline-flex;
    flex-wrap: wrap
}

section{
    background-color: green;
    overflow: hidden;
    height: 500px;
    width: 100%;
    border-radius: 24px;
    box-shadow: inset -2px -3px 9px 4px rgb(1, 70, 1);
}

main #contenedor{
    height: 100%;
    width: 100%;
}
main #contenedor div{
    background-color:rgb(1, 102, 1);
    height: 23%;
    width: 15%;
    margin: 6px;
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 19px;
    margin-left: 45px;
    align-items: center;
    color: white;
    justify-content: center;
    box-shadow: inset -2px -3px 9px 4px rgb(46, 45, 45);

}

main #contenedor div:hover{
    box-shadow: 2px 2px 2px 2px rgb(20, 20, 20);
    color: cornflowerblue;
    background-color: rgb(11, 83, 11);
}


aside{
    margin-left: 19px;
    background-color: orangered;
    display: inline-flex;
    height: 500px;
    width: 33%;
    border-radius: 25px;
    box-shadow: inset -2px -3px 9px 4px rgb(173, 49, 3);

}


footer{
    background-color: cornflowerblue;
    height: 60px;
    width: 100%;
    border-radius: 15px;
    box-shadow: inset -2px -3px 9px 4px rgb(64, 110, 196);

}

